
# .env.test           -> variaveis para ambiente de teste
# .env.production     -> variaveis para ambiente de producao
# .env.development    -> variaveis para ambiente de desenvolvimento


PORT=
NODE_ENV=
DATABASE_URL=
PASSWD_HASH_SALT=
PASSWD_LENGTH=
GROUP_NAME_EMPLOYEE=